# Core functionality - changes here should be rare!
/src/app.py                   @LootGodamn
/src/backend/database.py      @LootGodamn
/src/backend/routers/auth.py  @LootGodamn

# The frontend will need refactored soon to be more object oriented.
/src/static/   @LootGodamn
